 {% extends "base.html" %}

{% block mainbody %}

{% block css%}
     <link rel="stylesheet" href="/static/css/Introduce/jq22.css" type="text/css">

     {% endblock %}

<div class="lanrenzhijia">
  <div class="title cf">
    <div class="flk">机器学习</div>
    <ul class="title-list frk cf ">
      <li class="on">计算机视觉</li>
      <li>自然语言</li>
      <li>语音学习</li>
      <li>优惠券</li>
      <li>会员卡</li>
      <p><b></b></p>
    </ul>
  </div>
  <div class="product-wrap">
    <!--案例1-->
    <div class="product show">
      <ul class="cf" style="width: 115%">
        <li class="ml0"> <a href="#" class="imgwrap"> <img src="images/1.jpg"> </a>
          <p class="mt10"> <a href="#">jQuery插件库... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/1.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/1.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/1.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
      </ul>
    </div>
    <!--案例2-->
    <div class="product">
      <ul class="cf" style="width: 115%">
        <li class="ml0"> <a href="#" class="imgwrap"> <img src="images/2.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/2.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/2.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/2.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
      </ul>
    </div>
    <!--案例3-->
    <div class="product">
      <ul class="cf" style="width: 115%">
        <li class="ml0"> <a href="#" class="imgwrap"> <img src="images/3.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/3.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/3.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/3.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
      </ul>
    </div>
    <!--案例4-->
    <div class="product">
      <ul class="cf" style="width: 115%">
        <li class="ml0"> <a href="#" class="imgwrap"> <img src="images/4.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/4.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/4.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/4.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
      </ul>
    </div>
    <!--案例5-->
    <div class="product">
      <ul class="cf" style="width: 115%">
        <li class="ml0"> <a href="#" class="imgwrap"> <img src="images/5.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/5.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/5.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
        <li> <a href="#" class="imgwrap"> <img src="images/5.jpg"> </a>
          <p class="mt10"> <a href="#"> jQuery插件库演示... </a></p>
          <p class="pb10">演示描述信息</p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/introduce/jq22.js"></script>

{% endblock %}