<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>Manage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/backend/nav.css">
    <link rel="stylesheet" type="text/css" href="/static/font/backend/iconfont.css">
    <script src="/static/js/backend/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/backend/nav.js"></script>
</head>
<body>
     <div style="display: flex;">
         <!----------左边导航------------>
         <div class="nav">
            <div class="nav-top">
                <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="/static/img/mini.png" ></div>
            </div>
            <ul>
                <li class="nav-item">
                    <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>网站配置</span><i class="my-icon nav-more"></i></a>
                    <ul>
                        <li><a href="javascript:;"><span>网站设置</span></a></li>
                        <li><a href="javascript:;"><span>友情链接</span></a></li>
                        <li><a href="javascript:;"><span>分类管理</span></a></li>
                        <li><a href="javascript:;"><span>系统日志</span></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>文章管理</span><i class="my-icon nav-more"></i></a>
                    <ul>
                        <li><a href="javascript:;"><span>用户文章</span></a></li>
                        <li><a href="javascript:;"><span>站内公告</span></a></li>
                        <li><a href="javascript:;"><span>登录日志</span></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>用户管理</span><i class="my-icon nav-more"></i></a>
                    <ul>
                        <li><a href="javascript:;"><span>用户列表</span></a></li>
                        <li><a href="javascript:;"><span>用户通知</span></a></li>
                        <li><a href="javascript:;"><span>群发邮件</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
         <!----------左边导航 end------------>
         <div style="height: 700px;width: 84%">
             <iframe style="height: 100%;width: 100%;border:0" src="/manage/article"></iframe>

         </div>
     </div>
</body>
</html>


